.btn-circle.btn-xl {
    width: 90px;
    height: 90px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 2.33;
    border-radius: 45px;
}
.control-buttons {
    position: relative;
}
.brake {
    position: absolute;
    left: 45px;
    top: 50px;
}
.gear {
    position: absolute;
    right: 45px;
    top: 50px;
}
.arm {
    position: absolute;
    right: 60px;
    top: 200px;
    border: 2px solid green;
}
.arm, .toggle {
    border-radius: 45px;
}
.joystick {
    position: relative;
}
.data {
    border: 3px solid yellowgreen;
}
.progress {
    position: relative;
	height: 25px;
    top: 450px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}
.arrows {
    width: 88%;
    font-size: 45px;
    position: absolute;
    top: 400px;
    left: 12%;
    color: #4e5d6c
}
.arrows-left {
    float: left;
    width: 44%;
    height: auto;
}
.arrows-right {
    float: left;
    width: 44%;
    height: auto;
}
